{% extends 'base.html' %}

{% block content %}
{% load static %}


<!--WHO WE ARE!-->
<div class="section oneHundred" style="background-image: url({% static 'images/whoWeWorkWith.jpg' %});">

  <div class="sectionContent">
    <div class="whoWeAre">
      <div class="header">
        <p class="massiveHeaders">who we</p><br>
        <p class="massiveHeaders">work <span class="green">with.</span></p>
      </div>
      <div class="spacer"></div>
      <p>We like to get to the heart of your business immediately, with a detailed brief and a thorough description of the job you want to fill. We also like to visit at peak times to see your working environment in action.
      <br><br>
      We're happy to manage the whole recruitment process, but also flexible enough to work within any existing arrangements, backed up by competitive rates and industry leading guarintees.
      <br><br>
      And however you want to work, we'll always put honesty and integrity first - and ensure we deliver the highest calibre of candidates to help your business thrive.
      <br><br>
      Whatever you'd like to discuss, contact us for more details about what we can offer.</p>
    </div>

  </div>

</div>

<!--TRADING PARTNERS!-->
<div class="section">
  <div class="stretchyContent" style="text-align:center">
    <div class="bigTextSection">
      <div class="header">
        <p class="massiveHeaders">trading <span class="green">partners.</span></p><br>
      </div>
      <div class="spacer"></div>
      <p>We love to see people learn and develop their skills. That’s why, when it comes to training, we can highly recommend the following organisations.
      <br><br>
      Like us, they’re committed to the stars of tomorrow and ensuring that the UK hospitality industry has a bright future.
      <br><br>
      This attention to detail means we enjoy successful partnerships with a wide range of clients across an equally wide range of sectors.
      <br><br>
      If you’d like to find out more about training or development, please contact them. Just remember to tell them we sent you.</p>
    </div>
  </div>
</div>

<!--TRADING PARTNERS!-->
<div class="section" style="background-image: url({% static 'images/businessManBackground.jpg' %});">
  <div class="stretchyContent center">
        <div class="partnersContainer">


          <div class="infoCard shaddow emBorder">
						<br>
            <img src="../static/images/tennents.png" height="150px">
						<br>
						<h4 class="white">Tennents Training Academy</h4>
            <br>
						<p>161 Duke Street</p>
						<p>Glasgow</p>
            <p>G31 1JD</p>
						<br>
						<p>0845 166 6060</p>
            <p>info@tennentstrainingacademy.co.uk</p>
						<br>
					</div>
					<div class="infoCard shaddow emBorder">
            <br>
            <img src="../static/images/HITScotland.png" height="150px">
            <br>
            <h4 class="white">Hospitality Industry Scotland</h4>
            <br>
            <p>1A Abercromby Place</p>
            <p>Edinburgh</p>
            <p>EH3 6JX</p>
            <br>
            <p>0131 577 5767</p>
            <p>hit@eventconsultants.com</p>
            <br>
          </div>
          <div class="infoCard shaddow emBorder">
            <br>
            <img src="../static/images/aisling.png" height="150px">
            <br>
            <h4 class="white">Aisling Consultancy</h4>
            <br>
            <p>Hospitality Leadership</p>
            <p>Development Consultancy</p>
            <p>Thurso</p>
            <br>
            <p>0777 1985886</p>
            <p>louise@aislingconsultancy.co.uk</p>
            <br>
          </div>
          <div class="infoCard shaddow emBorder">
            <br>
            <img src="../static/images/LATraining.png" height="150px">
            <br>
            <h4 class="white">LA Training Academy</h4>
            <br>
            <p>Unit 2, 44 Houston Street</p>
            <p>Kingston Bridge Training Estate</p>
            <p>G5 8RS</p>
            <br>
            <p>0141 4298989</p>
            <p>training@lagroup.co.uk</p>
            <br>
          </div>

        </div>

  </div>
</div>

<!--OUR SERVICES!-->
<div class="section oneHundred">

  <div class="sectionContent" style="text-align:center">
    <div class="bigTextSection">
      <div class="header">
        <p class="massiveHeaders">our services</p><br>
      </div>
      <div class="spacer"></div>
          <p>We know that finding the right staff leads to a stable business, improved performance and better profits.</p>
          <br>
          <p>That’s why offer a full range of flexible and cost-effective recruitment services to help make your life easier, including:</p>
          <br>
          <ul style="">
            <li>- Database selection</li>
            <li>- Innovative candidate attraction methods</li>
            <li>- Premium advertised selection and web advertising</li>
            <li>- Search and selection processes</li>
            <li>- Salary benchmarking and market research</li>
            <li>- Competency-based interviewing</li>
            <li>- Psychometric testing and evaluation information</li>
            <li>- Open days and assessment centres</li>
            <li>- Targeted headhunting</li>
            <li>- Project recruitment for new openings</li>
          </ul>
          <br>
          <p>We’re also happy to provide an honest market analysis of the effectiveness of your current marketing and media. And of course we’re always willing to talk through any specific needs, from high volume campaigns to outsourcing your recruitment to us completely.</p>
          <br>
          <p>As well as these recruitment services, we also offer:</p>
          <br>
          <ul>
            <li>- Full account management</li>
            <li>- Service level agreement</li>
            <li>- Retained executive search</li>
            <li>- Advertised response management</li>
            <li>- Campaign management</li>
            <li>- Master vendor services</li>
          </ul>
          <br>
          <p>We’re also happy to provide an honest market analysis of the effectiveness of your current marketing and media. And of course we’re always willing to talk through any specific needs, from high volume campaigns to outsourcing your recruitment to us completely.</p>
    </div>

  </div>

</div>



<!--SOCIALS!-->

{% endblock %}
